<%- include('include/header-doc') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/landing.css">

</head>
<body>
    <%- include('include/navigation') %>
    <header class="d-flex flex-column justify-content-center my-4 p-4">
        <div class="d-flex justify-content-center mb-4">
            <h4>Produk Yang Kami Jual</h4>
        </div>
        <div class="d-flex justify-content-center align-items-start" style="gap: 20px;">
            <div class="search-by-keyword d-flex align-items-center">
                <form method="GET" >
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                        <input name="namabarang" type="text" class="form-control" placeholder="Nama Barang" aria-label="" aria-describedby="basic-addon1">
                    </div>
                </form>
            </div>
            <div class="search-by-category d-flex justify-content-between align-items-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#sortByCategoryModal">
                    <i class="bi bi-filter-left"></i>
                </button>

                <div class="modal fade" id="sortByCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Cari berdasarkan kategori</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="GET">
                                <div class="modal-body">
                                    <label for="kategori" class="mb-2">Masukkan jenis kategori</label>
                                    <select name="kategori" class="form-select" aria-label="Default select example">
                                        <option selected>...</option>
                                        <% for(let i = 0; i < kategori.length; i++) { %>
                                            <option value="<%= kategori[i].kategori %>"><%= kategori[i].kategori %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Cari</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </header>
    <div class="container produk w-100 mt-4 mb-4">
      <div class="container d-flex <%= (barang.length < 5) ? 'justify-content-start' : 'justify-content-start' %> row p-4" style="gap: 20px;">
        <% for(let i = 0; i < barang.length; i++) { %>
            <div class="card " style="width: 18rem;">
                <img src="/images/<%= barang[i].image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= barang[i].namabarang %></h5>
                    <p class="card-text"><%= barang[i].stok %></p>
                    <p class="card-text" style="font-weight: bold;">Rp. <%= barang[i].harga %></p>
                    <div class="d-flex" style="gap: 5px;">
                        <button href="#" onclick="changeModalRoute('Tambah', '<%= barang[i]._id %>')" class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#jumlahModal">Tambah</button>
                        <button href="#" onclick="changeModalRoute('Pesan', '<%= barang[i]._id %>')" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#jumlahModal">Pesan</button>
                    </div>
                </div>
            </div>
        <% } %>
        
        <!-- Modal (Ini akan dihide dan di trigger melalui button) -->
        <div class="modal fade" id="jumlahModal" tabindex="-1" aria-labelledby="jumlahModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="jumlahModalLabel">Masukkan jumlah barang</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" id="jumlahModalForm" action="/produk/tambah">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="jumlah" class="form-label">Jumlah Barang</label>
                                <input name="jumlah" type="number" class="form-control" id="jumlah">
                            </div>
                            <input type="hidden" class="form-control" name="idbarang" id="inputIdBarang">
                            <input type="hidden" class="form-control" name="modeBeli" id="modeBeli">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="buttonSubmitJumlahModalForm">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
        <% if(banyakData > 8) { %>
            <nav class="d-flex justify-content-center" aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <% for(let i = 0; i < banyakData; i++) { %>
                        <li class="page-item" onclick="createQueryUrl('<%= i + 1 %>')"><a id="pagination-item<%= i + 1 %>" class="page-link" href="#"><%= i + 1 %></a></li>
                    <% } %>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        <% } %>
    </div>
    <div class="toast bottom-0 end-0 me-4 mb-4" id="liveToast" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed;">
        <div class="toast-header d-flex" style="gap: 20px;">
          <!-- <img src="..." class="rounded me-2" alt="..."> -->
          <i class="bi bi-app-indicator"></i>
          <strong class="me-auto">Notification</strong>
          <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close"><i class="bi bi-x-lg"></i></button>
        </div>
        <div class="toast-body">
          <%= (message) ? message : '' %>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script>
        function changeModalRoute(mode, idbarang){
            const modalElement = document.getElementById('jumlahModalForm');
            const buttonSubmit = document.getElementById('buttonSubmitJumlahModalForm');
            const inputIdBarang = document.getElementById('inputIdBarang');
            const modeBeli = document.getElementById('modeBeli')
            if(mode === 'Pesan'){
                // modalElement.setAttribute('action', '/produk/tambah');
                buttonSubmit.innerHTML = 'Pesan';
                inputIdBarang.setAttribute('value', idbarang)
                modeBeli.setAttribute('value', mode)
            } else {
                // modalElement.setAttribute('action', '/produk/tambah');
                buttonSubmit.innerHTML = 'Simpan'
                inputIdBarang.setAttribute('value', idbarang)
                modeBeli.setAttribute('value', mode)
            }
        }
    </script>
    <script>
        '<% if(message) { %>'
            const toastLiveExample = document.getElementById('liveToast')

            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
            toastBootstrap.show()
        '<% } %>'
    </script>
    '<% if(banyakData > 8) { %>'
        <script>
            function createQueryUrl(paginationItem){
                const url = window.location.href;
                const urlObject = new URL(url);
                const params = new URLSearchParams(urlObject.search);
                console.log('aa')
                const namabarang = params.get('namabarang');
                const kategori = params.get('category');
                const page = params.get('page');
                console.log(kategori)
                console.log(namabarang)
                const element = document.getElementById('pagination-item'+paginationItem);

                if(namabarang){
                    element.setAttribute('href', `http://127.0.0.1:3000/produk?namabarang=${namabarang}&page=${paginationItem}`);
                    // console.log(`http://127.0.0.1:3000/produk?namabarang=${namabarang}&page=${paginationItem}`)
                } else if(kategori){
                    element.setAttribute('href', `http://127.0.0.1:3000/produk?kategori=${kategori}&page=${paginationItem}`);
                    // console.log('href', `http://127.0.0.1:3000/produk?kategori=${kategori}&page=${paginationItem}`);
                } else {
                    element.setAttribute('href', `http://127.0.0.1:3000/produk?page=${paginationItem}`);
                    // console.log('href', `http://127.0.0.1:3000/produk?page=${paginationItem}`);
                }
            }
        </script>
    <% } %>
    <%- include('include/footer') %>
<%- include('include/footer-doc') %>
