<%- include('../include/header') %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </head>

  <body class="d-flex">
    <% if(message) { %>
      <script>
        Swal.fire({
          position: 'center-middle',
          icon: '<%= message[0] %>',
          text: '<%= message[1] %>',
          // showConfirmButton: false,
          timer: 1500,
        })
      </script>
    <% } %>
    <%- include('../include/sidebar') %>
      <div id="right-content" style="background-color: #F5F7FB; width: 100%;">
        <header class="w-100 d-flex align-items-center justify-content-end p-3 shadow"
          style="background-color:#FFFFFF;">
          <h2 class=""><i class="bi bi-box-arrow-right text-danger"></i></h2>
        </header>
        <main class="d-flex flex-column align-items-center">
          <div class="d-flex flex-column justify-content-center my-4 w-100" style="padding-left: 3vh; padding-right: 3vh;">
            <h4 class="page-title">Tambah Transaksi</h4>
            <div class="mt-4">
              <a href="/transaksi/masukbarang" class="btn btn-primary">Selesai</a>
            </div>
          </div>
          <div class="form w-100" style="padding-left: 3vh; padding-right: 3vh;">
            <div class="border rounded-3 p-4 mb-4" style="background-color: white;">
              <form
                action="<% if(barangmasuk) { %>/transaksi/masukbarang/edit/<%= barangmasuk._id %><% } else { %>/transaksi/masukbarang/tambah <% } %>"
                id="forminput"
                method="POST">
                <div class="mb-3 col-8">
                  <label for="namasupplier" class="form-label">Nama Supplier</label>
                  <input type="text" class="form-control required-field" id="namasupplier" name="namasupplier"
                    aria-describedby="pembeliHelp" value="<% if(barangmasuk) { %><%= barangmasuk.namasupplier %><% } %>" required>
                  <div id="pembeliHelp" class="form-text">Sementara masukan nama supplier secara manual</div>
                </div>
                <div class="mb-3 d-flex justify-content-start" style="gap: 50px;">
                  <div class="col-2">
                    <label for="tanggal" class="form-label">Tanggal</label>
                    <input type="date" class="form-control required-field" id="tanggal" name="tanggal"
                      value="<% if(barangmasuk) { %><%= barangmasuk.tanggal %><% } %>">
                  </div>
                  <div class="col-3">
                    <label for="status" class="form-label">Status Transaksi</label>
                    <br>
                    <select name="status" id="statustransaksi" class="form-select required-field" aria-label="Default select example">
                      <option value="Draft" selected>Draft</option>
                      <option value="Belum Bayar">Belum Bayar</option>
                    </select>
                  </div>
                </div>

                <hr>
                <div class="mb-3 d-flex justify-content-between">

                  <div class="left-panel col-3">
                    <div class="mb-3">
                      <label for="namabarang" class="form-label">Nama Barang</label>
                      <input type="text" class="form-control required-field" id="namabarang" name="namabarang" disabled required>
                      <input type="hidden" id="idbarang" name="idbarang" required>
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input required-field" id="editnamabarang">
                      <label class="form-check-label" for="editnamabarang">Barang baru?</label>
                    </div>
                    <div class="mb-3 d-flex" style="gap:20px">
                      <div class="col-3">
                        <label for="jumlah" class="form-label">Jumlah</label>
                        <input type="number" class="form-control required-field" id="jumlah" name="jumlah" required>
                      </div>
                      <div>
                        <label for="harga" class="form-label">Harga</label>
                        <input type="number" class="form-control required-field" id="hargafield" name="hargafield" disabled required>
                        <input type="hidden" id="hargavalue" class="required-field" name="hargavalue" value="">
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="subtotal" class="form-label">Sub Total</label>
                      <input type="number" class="form-control required-field" id="subtotal" name="subtotal" disabled required>
                    </div>
                    <button id="buttontambah" onclick="formValidation()" class="btn btn-primary">Tambah</button>
                  </div>

                  <div class="right-panel border rounded p-4 col-8">
                    <table class="table display">
                      <thead>
                        <tr>
                          <th>Nama barang</th>
                          <th>Stok</th>
                          <th>Harga</th>
                          <th>Pilih</th>
                        </tr>
                      </thead>
                      <tbody id="tabelbarang">
                        <% for(let i=0; i < barang.length; i++) { %>
                          <tr>
                            <td>
                              <%= barang[i].namabarang %>
                            </td>
                            <td>
                              <%= barang[i].stok %>
                            </td>
                            <td>
                              <%= barang[i].harga %>
                            </td>
                            <td>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" id="checkeditem"
                                  value="<%= barang[i]._id %>, <%= barang[i].namabarang %>, <%= barang[i].harga %>"
                                  name="idpilihanbarang">
                              </div>
                            </td>
                          </tr>
                          <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <hr>
              </form>
              <div class="border rounded p-4 mb-3">
                <table class="table display">
                  <thead>
                    <tr>
                      <th>Nama barang</th>
                      <th>Jumlah</th>
                      <th>Harga</th>
                      <th>Sub Total</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody id="tabelbarangcart">
                    <% if(barangmasuk) { %>
                      <% for(let i=0; i < barangmasuk.barang.length; i++) { %>
                        <tr>
                          <td>
                            <%= barangmasuk.barang[i].namabarang %>
                          </td>
                          <td>
                            <%= barangmasuk.barang[i].jumlah %>
                          </td>
                          <td>
                            <%= barangmasuk.barang[i].harga %>
                          </td>
                          <td>
                            <%= barangmasuk.barang[i].subtotal %>
                          </td>
                          <td class="d-flex justify-content-center">
                            <form class="" action="/transaksi/masukbarang/edit/hapusbarang" method="POST">
                              <input name="idbarang" value="<%= barangmasuk.barang[i].idbarang %>" type="hidden">
                              <input name="idbarangmasuk" value="<%= barangmasuk._id %>" type="hidden">
                              <button class="btn btn-danger me-2 d-flex" role="button" type="submit">
                                <i class="bi bi-trash-fill"></i> Hapus
                              </button>
                            </form>
                          </td>
                        </tr>
                        <% } } %>
                  </tbody>
                </table>
                <div class="mt-4 d-flex justify-content-end">
                  <p class="display-6">
                    Total : Rp. <%= (barangmasuk) ? barangmasuk.total : "0" %>
                  </p>
                </div>

              </div>
            </div>
          </div>
        </main>
      </div>
      <script>
        const dateValue = document.getElementById('tanggal');
        if(dateValue.value.trim() == ''){
          dateValue.valueAsDate = new Date();
        }
      </script>
      <script>
        $(document).ready(function () {
          $('table.display').DataTable();
        });

        $('select').ready(function () {
          $('select').toggleClass('selected');
          $('option').toggleClass('unselected');
        });
      </script>
      <script>
        $(document).ready(function () {
          $("#caribarang").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tabelbarang tr").filter(function () {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
          });
        });
      </script>
      <script>
        const statustransaksi = document.getElementById('statustransaksi');
        const value = '<% if(barangmasuk) { %><%= barangmasuk.status %><% } %>'

        if(value.length > 1){
          for (var i = 0; i < statustransaksi.options.length; i++) {
            if (statustransaksi.options[i].value === value) {
              statustransaksi.options[i].selected = true;
              break;
            }
          }
        }
      </script>
      <script src="/js/masukbarang.js"></script>
      <script src="/js/formValidation.js"></script>
      <%- include('../include/footer') %>