<%- include('../include/header') %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    let daftarInvoice = [];
    let daftarInvoiceYangLunas = [];
    let index1;
    let index2;
  </script>
  </head>

  <body class="d-flex">
    <% if(message) { %>
      <script>
        Swal.fire({
          position: 'center-middle',
          icon: '<%= message[0] %>',
          text: '<%= message[1] %>',
          // showConfirmButton: false,
          timer: 1500,
        })
      </script>
    <% } %>
    <%- include('../include/sidebar') %>
      <div class="" style="background-color: #F5F7FB; width: 100%;">
        <header class="w-100 d-flex align-items-center justify-content-end p-3 shadow"
          style="background-color:#FFFFFF;">
          <h2 class=""><i class="bi bi-box-arrow-right text-danger"></i></h2>
        </header>
        <main class="d-flex flex-column align-items-center">
          <div class="d-flex align-items-center justify-content-between my-4 w-100"
            style="padding-left: 3vh; padding-right: 3vh;">
            <h4 class="page-title">Transaction</h4>
            <div class="d-flex" style="gap: 10px;">
              <a class="btn btn-primary px-3" href="/transaksi"><i class="bi bi-arrow-clockwise"></i> Muat Ulang</a>
              <a class="btn btn-outline-primary px-3" href="/transaksi/tambah"><i class="bi bi-plus-lg"></i> Tambah
                Transaksi</a>
              </div>
          </div>
          <div class="table" style="padding-left: 3vh; padding-right: 3vh;">
            <div class="rounded shadow p-4" style="background-color: white;">
              <table id="example" class="hover display" style="width:100%">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nama Pembeli</th>
                    <th>Tanggal Beli</th>
                    <th>Total Beli</th>
                    <th>Pendapatan</th>
                    <th>Status</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i=0; i < transaksi.length; i++) { %>
                    <tr>
                      <td class="p-3">
                        <%= transaksi[i]._id %>
                      </td>
                      <td>
                        <%= transaksi[i].namapembeli %>
                      </td>
                      <td>
                        <%= transaksi[i].tanggal %>
                      </td>
                      <td>
                        Rp. <%= transaksi[i].total %>
                      </td>
                      <td>
                        Rp. <%= transaksi[i].pendapatan %>
                      </td>
                      <td>
                        <%= transaksi[i].status %>
                      </td>
                      <% if(transaksi[i].status == 'Lunas') { %>
                        <td class="text-center">
                          <script>
                            daftarInvoiceYangLunas.push({
                              nomorInvoice: '<%= i %>',
                              data: [],
                            });

                            index1 = daftarInvoiceYangLunas.findIndex( invoice => {
                              return invoice.nomorInvoice == '<%= i %>'
                            });

                            '<% for(let j = 0; j < transaksi[i].barang.length; j++) { %>'
                            daftarInvoiceYangLunas[index1].data.push({
                                namabarang: '<%= transaksi[i].barang[j].namabarang %>',
                                jumlah: '<%= transaksi[i].barang[j].jumlah %>',
                                subtotal: '<%= transaksi[i].barang[j].subtotal %>',
                            });
                            '<% } %>'
                          </script>
                          <em>
                            Transaksi sudah lunas |
                            <!-- <a href="/images/buktibayar/<%= transaksi[i].buktibayar %>" target="_blank">Bukti Pembayaran</a> | -->
                            <a class="" style="cursor: pointer;" onclick="addDataToModal('<%= i %>','<%= transaksi[i].tanggal %>', '<%= transaksi[i].buktibayar %>', '<%= transaksi[i].total %>', true)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Detail Transaksi</a>
                          </em>
                        </td>
                      <% } else { %>
                        <td class="d-flex justify-content-center" style="gap: 5px;">
                          <a class="btn btn-primary <%= (transaksi[i].status == 'Lunas') ? 'disabled' : '' %>" href="/transaksi/edit/<%= transaksi[i]._id %>">
                            <i class="bi bi-pencil-square"></i> Edit
                          </a>
                          <script>
                            daftarInvoice.push({
                              nomorInvoice: '<%= i %>',
                              data: [],
                            });

                            index2 = daftarInvoice.findIndex( invoice => {
                              return invoice.nomorInvoice == '<%= i %>'
                            });

                            '<% for(let j = 0; j < transaksi[i].barang.length; j++) { %>'
                            daftarInvoice[index2].data.push({
                                namabarang: '<%= transaksi[i].barang[j].namabarang %>',
                                jumlah: '<%= transaksi[i].barang[j].jumlah %>',
                                subtotal: '<%= transaksi[i].barang[j].subtotal %>',
                            });
                            '<% } %>'
                          </script>
                          <button class="btn btn-primary <%= (transaksi[i].buktibayar) ? '' : 'disabled' %>" onclick="addDataToModal('<%= i %>','<%= transaksi[i].tanggal %>', '<%= transaksi[i].buktibayar %>', '<%= transaksi[i].total %>', false)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <i class="bi bi-file-text"></i> Detail
                          </button>
                          <form action="/transaksi/bayar" method="POST">
                            <input type="hidden" name="idtransaksi" value="<%= transaksi[i]._id %>">
                            <button class="btn btn-success <%= (!(transaksi[i].status == 'Menunggu Validasi')) ? 'disabled' : '' %>" type="submit"><i class="bi bi-cash-stack"></i> Lunas</button>
                          </form>
                          <form action="/transaksi/hapus" method="POST">
                            <input type="hidden" name="idtransaksi" value="<%= transaksi[i]._id %>">
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Hapus</button>
                          </form>
                        </td>
                      <% } %>
                    </tr>
                    <% } %>
                </tbody>
              </table>

              <!-- Modal untuk menampilkan detail invoice -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Detail Invoice</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="tanggalInvoice"></p>
                        <p id="buktiBayarInvoice"></p>
                        <table class="table">
                            <thead>
                                <tr>
                                  <th scope="col">No</th>
                                  <th scope="col">Nama Barang</th>
                                  <th scope="col">Jumlah</th>
                                  <th scope="col">Sub total</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" class="text-center">Total</td>
                                    <td id="totalInvoice"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <script>
        function addDataToModal(noinvoice, tanggal, buktibayar, total, lunas) {
            const buktiBayarInvoice = document.getElementById('buktiBayarInvoice')
            const tanggalInvoice = document.getElementById('tanggalInvoice');
            const tableBody = document.getElementById('tableBody');
            const totalInvoice = document.getElementById('totalInvoice');
            let findIndex = 0;
            tanggalInvoice.innerHTML = `Tanggal Pembelian : ${tanggal}`
            buktiBayarInvoice.innerHTML = (buktiBayarInvoice == '') ? 'Bukti Pembayaran : Belum ada transaksi' : `Bukti Pembayaran : <a href="/images/buktibayar/${buktibayar}" target="_blank">Bukti Bayar</a>`;
            tableBody.innerHTML = '';
            
            console.log(daftarInvoice);
            console.log(daftarInvoiceYangLunas);
            
            if(!lunas){
              findIndex = daftarInvoice.findIndex( invoice => {
                return invoice.nomorInvoice == noinvoice;
              });

              console.log(daftarInvoice[findIndex].data);

              for(let k = 0; k < daftarInvoice[findIndex].data.length; k++){
                  tableBody.innerHTML += `<tr>
                      <td>${k + 1}</td>
                      <td>${daftarInvoice[findIndex].data[k].namabarang}</td>
                      <td>${daftarInvoice[findIndex].data[k].jumlah}</td>
                      <td>Rp. ${daftarInvoice[findIndex].data[k].subtotal}</td>
                  </tr>`
              }
            } else {
              findIndex = daftarInvoiceYangLunas.findIndex( invoice => {
                return invoice.nomorInvoice == noinvoice;
              });

              console.log(daftarInvoiceYangLunas[findIndex].data);

              for(let k = 0; k < daftarInvoiceYangLunas[findIndex].data.length; k++){
                  tableBody.innerHTML += `<tr>
                      <td>${k + 1}</td>
                      <td>${daftarInvoiceYangLunas[findIndex].data[k].namabarang}</td>
                      <td>${daftarInvoiceYangLunas[findIndex].data[k].jumlah}</td>
                      <td>Rp. ${daftarInvoiceYangLunas[findIndex].data[k].subtotal}</td>
                  </tr>`
              }
            }

            totalInvoice.innerHTML = `Rp. ${total}`
        }
      </script>
      <script>
        $(document).ready(function () {
          $('table.display').DataTable();
        });
      </script>
      <script>
        $(document).ready(function () {
          $("#caribarang").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tabelbarang tr").filter(function () {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
          });
        });
      </script>
      <%- include('../include/footer') %>
  </body>